#root {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .profile-card {
      height: 350px;
      width: 265px;
      margin: 10px;
      border-radius: 9px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      position: relative;
      overflow: hidden;
  }
  
  .profile-image, .profile-text{
      max-width: 100%;
      border-radius: 9px;
      position: absolute;
  }
  
  .profile-image {
      top: 0;
      left: 0;
      max-height: 100%;
  }
  
  .profile-text {
      z-index: 10;
      bottom: -53%;
      min-height: 70%;
      max-height: 100%;
      min-width: 100%;
      background: rgba(245, 222, 179, 0.3);
      font-size: 21px;
      color: white;
      line-height: 50%;
      transition: bottom 0.7s;
  }
  
  .profile-text-up .profile-text {
      bottom: 0;
  }
  
  .profile-page {
      display: flex;
      justify-content: center;
      background-color: #282c34;
      color: #d10018;
      text-shadow: black 1px 1px;
      text-emphasis-color: #dde33b;
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      padding: 0px 20px;
      background-color: rgb(198, 221, 235);
  }
  
  .header div span {
      font-size: 200%;
      margin: 20px 30px;
  }
  
  .header div {
      padding: 20px 0px;
  }